.customer-paged-list-name,
.customer-paged-list-actions {
    position:relative;
    float:left;
}

.customer-paged-list-name {
    min-width:200px;
}

.customer-paged-list-item {
    height:50px;
}

.customer-paged-list-actions {
    text-transform: uppercase;
}
   
.customer-paged-list-actions span {
    cursor:pointer;
}
