.header {

}

.header a {
    text-decoration:none;
    color: #333;
    line-height:73px;
    padding-right:15px;
    padding-left:15px;
    cursor:pointer;
    display:inline-block;
    position:relative;
}

